* {
    margin:0;
    padding:0;
    background-color:brown;
}

.heading {
    color:yellow;
    display:flex;
    justify-content:center;
    font-size:60px;
    font-family: 'poppins',sans-serif;
    margin-top:40px;
}

.money {
    color:yellow;
    font-size:30px;
    font-family: 'poppins',sans-serif;
    margin:40px;
}

img {
    height:400px;
    width:400px;
    border: 10px  solid whitesmoke;
    object-fit:cover;
    border-radius :50%;
}

.heads {
    margin-left:400px;
    cursor:pointer;
}

.heads1 {
    display:flex;
    align-items:center;
    margin:30px;
    margin-left:180px;
    font-size:40px;
    color:yellow;
    font-family:'poppins', sans-serif;
}

.bet {
    display:flex;
}

.tails {
    margin-left:200px;
    cursor:pointer;
}

.tails1 {
    margin:30px;
    margin-left:180px;
    font-size:40px;
    color:yellow;
    font-family:'poppins', sans-serif;
}

.play {
    margin-top:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    color:yellow;
    font-family:'poppins', sans-serif;
}

.reset {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'poppins', sans-serif;
    margin-top:30px;
    cursor:pointer
}

.resetp {
    background-color:black;
    font-size:40px;
    color:yellow;
    border-radius:16px;
    cursor:pointer;
}


